<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebase" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Google Firebase Plugin</name>

	<license>MIT</license>

	<preference name="AD_UNIT_ID_FOR_BANNER_TEST" />
	<preference name="AD_UNIT_ID_FOR_INTERSTITIAL_TEST" />
	<preference name="CLIENT_ID" />
	<preference name="REVERSED_CLIENT_ID" />
	<preference name="API_KEY" />
	<preference name="GCM_SENDER_ID" />
	<preference name="BUNDLE_ID" />
	<preference name="PROJECT_ID" />
	<preference name="STORAGE_BUCKET" />
	<preference name="IS_ADS_ENABLED" default="false" />
	<preference name="IS_ANALYTICS_ENABLED" default="false" />
	<preference name="IS_APPINVITE_ENABLED" default="false" />
	<preference name="IS_GCM_ENABLED" default="false" />
	<preference name="IS_SIGNIN_ENABLED" default="false" />
	<preference name="GOOGLE_APP_ID" />
	<preference name="DATABASE_URL" />

	<js-module name="FirebasePlugin" src="www/firebase.js">
		<clobbers target="FirebasePlugin" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.2.0" />
	</engines>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="FirebasePlugin">
				<param name="android-package" value="org.apache.cordova.firebase.FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="/*" target="res/values/strings.xml">
			<string name="google_app_id">GOOGLE_APP_ID</string>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<service android:name=".FirebasePluginMessagingService">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT"/>
				</intent-filter>
			</service>
			<service android:name=".FirebasePluginInstanceIDService">
				<intent-filter>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
				</intent-filter>
			</service>
		</config-file>
		<source-file src="src/android/google-services.json" target-dir="." />
		<source-file src="src/android/FirebasePlugin.java" target-dir="src/org/apache/cordova/firebase//FirebasePlugin" />
		<source-file src="src/android/FirebasePluginInstanceIDService.java" target-dir="src/org/apache/cordova/firebase/FirebasePlugin" />
		<source-file src="src/android/FirebasePluginMessagingService.java" target-dir="src/org/apache/cordova/firebase/FirebasePlugin" />
		
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<framework src="com.google.firebase:firebase-core:9.0.2" />
		<framework src="com.google.firebase:firebase-messaging:9.0.2" />
	</platform>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<source-file src="src/ios/GoogleService-Info.plist" target-dir="../../" />

		<header-file src="src/ios/FirebasePlugin.h" />
		<source-file src="src/ios/FirebasePlugin.m" />

		<header-file src="src/ios/Firebase/Firebase.h" />
		
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseAnalytics.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseInstanceID.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/GoogleInterchangeUtilities.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/GoogleSymbolUtilities.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/GoogleUtilities.framework" />
		<framework custom="true" src="src/ios/Firebase/Messaging/FirebaseMessaging.framework" />
		<framework custom="true" src="src/ios/Firebase/Messaging/GoogleIPhoneUtilities.framework" />
	</platform>

	<hook src="scripts/after_prepare.js" type="after_prepare" />
</plugin>
