<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebase" version="1.1.3"
xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Google Firebase Plugin</name>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.2.0" />
	</engines>

	<platform name="android">
		<js-module name="FirebasePlugin" src="www/firebase.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="FirebasePlugin">
				<param name="android-package" value="org.apache.cordova.firebase.FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
				<uses-permission android:name="android.permission.INTERNET" />
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
				<uses-permission android:name="android.permission.WAKE_LOCK" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
      <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
      <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
      <meta-data android:name="firebase_performance_collection_enabled" android:value="false" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="org.apache.cordova.firebase.FirebasePluginMessagingService">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT"/>
				</intent-filter>
			</service>
			<service android:name="org.apache.cordova.firebase.FirebasePluginInstanceIDService">
				<intent-filter>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
				</intent-filter>
			</service>
			<receiver android:name="org.apache.cordova.firebase.OnNotificationOpenReceiver"></receiver>
		</config-file>
		<resource-file src="src/android/google-services.json" target="."/>
		<resource-file src="src/android/cordova-plugin-firebase-strings.xml" target="res/values/cordova-plugin-firebase-strings.xml" />
		<source-file src="src/android/FirebasePlugin.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/OnNotificationOpenReceiver.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePluginInstanceIDService.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePluginMessagingService.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePluginMessageReceiver.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/FirebasePluginMessageReceiverManager.java" target-dir="src/org/apache/cordova/firebase" />
		<source-file src="src/android/colors.xml" target-dir="res/values" />

		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<framework src="com.google.android.gms:play-services-tagmanager:+" />
		<framework src="com.google.firebase:firebase-core:+" />
		<framework src="com.google.firebase:firebase-messaging:+" />
		<framework src="com.google.firebase:firebase-config:+" />
		<framework src="com.google.firebase:firebase-perf:+" />

	</platform>

	<platform name="ios">
		<js-module name="FirebasePlugin" src="www/firebase.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
		<config-file parent="/*" target="config.xml">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
		    <string>development</string>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Release.plist">
			<string>production</string>
		</config-file>
    <config-file parent="FirebaseMessagingAutoInitEnabled" target="*-Info.plist">
      <string>no</string>
    </config-file>
    <config-file parent="firebase_performance_collection_enabled" target="*-Info.plist">
      <false />
    </config-file>
    <config-file parent="firebase_crashlytics_collection_enabled" target="*-Info.plist">
      <false />
    </config-file>

		<resource-file src="src/ios/GoogleService-Info.plist" />

		<header-file src="src/ios/AppDelegate+FirebasePlugin.h" />
		<source-file src="src/ios/AppDelegate+FirebasePlugin.m" />
		<header-file src="src/ios/FirebasePlugin.h" />
		<source-file src="src/ios/FirebasePlugin.m" />

		<header-file src="src/ios/Firebase/Firebase.h" />

		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseAnalytics.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCore.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCoreDiagnostics.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseInstanceID.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/FirebaseNanoPB.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/GoogleToolboxForMac.framework" />
		<framework custom="true" src="src/ios/Firebase/Analytics/nanopb.framework" />
		<framework custom="true" src="src/ios/Firebase/Messaging/Protobuf.framework" />
		<framework custom="true" src="src/ios/Firebase/Messaging/FirebaseMessaging.framework" />
		<framework custom="true" src="src/ios/Firebase/Crashlytics/Fabric.framework" />
		<framework custom="true" src="src/ios/Firebase/Crashlytics/Crashlytics.framework" />
		<framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseRemoteConfig.framework" />
		<framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseABTesting.framework" />
		<framework custom="true" src="src/ios/Firebase/Auth/FirebaseAuth.framework" />
		<framework custom="true" src="src/ios/Firebase/Auth/GTMSessionFetcher.framework" />
		<framework custom="true" src="src/ios/Firebase/Performance/FirebasePerformance.framework" />
		<framework custom="true" src="src/ios/Firebase/Performance/FirebaseISASwizzler.framework" />
		<framework custom="true" src="src/ios/Firebase/Performance/FirebaseMethodSwizzler.framework" />
	</platform>

	<platform name="browser">
		<js-module name="FirebasePlugin" src="www/firebase-browser.js">
			<clobbers target="FirebasePlugin" />
		</js-module>
	</platform>

	<hook src="scripts/after_prepare.js" type="after_prepare" />
	<hook src="scripts/after_plugin_add.js" type="after_plugin_add" />
	<hook src="scripts/before_plugin_rm.js" type="before_plugin_rm" />
</plugin>
